# Byte-compiled / optimized / DLL files\n__pycache__/\n*.py[cod]\n*.so\n\n# C extensions\n*.so\n\n# Distribution / packaging\n.Python\nbuil/*\ndist/*\n*.egg-info/\n.installed.cfg\n*.egg\n\n# Installer logs\nnosetests.xml\ncoverage.xml\n*.cover\n*.log\n\n# Unit test / coverage reports\nhtmlcov/\n\n# Translations\n*.mo\n*.pot\n\n# Django stuff:\n*.log\nlocal_settings.py\ndb.sqlite3\n\n# Flask instance folder\ninstance/\n.login\n\n# Pytest\n.cache\n\n# Pytest cache\n.cache/\n\n# MyPy\nmypy_cache/\n\.dmypy.json\n\.dmypy.json\n\n# Pyre type checker\n.pyre/\n
